  .about {
    margin: 0 0 100px;
  }

  .about-container {
    margin: 0 0 78px;
  }

  .about-paragraph {
    margin: 0 0 28px;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
  }

  .about-paragraph:last-child {
    margin-bottom: 0;
  }

  .blockquote {
    margin: 0;
  }

  .blockquote-list {
    padding: 0;
    list-style: none;
    margin: 0;
  }

  .blockquote-item:first-child {
    display: inline-block;
    position: relative;
    padding-left: 40px;
    padding-right: 30px;
    text-transform: uppercase;
    font-size: 44px;
    font-weight: 400;
    line-height: 50px;
    margin: 0 0 40px;
    white-space: pre-line;
  }

  .blockquote-item:last-child {
    display: block;
    max-width: 370px;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    margin: 0;
    margin-left: auto;
  }

  .blockquote-item:first-child:before {
    content: "“";
    position: absolute;
    color: #6C0287;
    font-family: Arial;
    font-size: 44px;
    font-weight: 900;
    line-height: 50px;
    text-align: left;
    left: 0;
    top: -2px;
  }

  .creator {
    margin: 0;
  }

  .blockquote-item:first-child:after {
    content: "”";
    position: absolute;
    color: #6C0287;
    font-family: Arial;
    font-size: 44px;
    font-weight: 900;
    line-height: 50px;
    right: 0;
    bottom: 2px;
  }

  .project-creator__img {
    border-radius: 50%;
    margin-right: 20px;
    object-fit: contain;
    width: 80px;
    height: 80px;
    float: left;
  }

  .creator-breakdown {
    display: inline-block;
  }
