  .about {
    margin: 0 0 100px;
  }

  .about-container {
    margin: 0 0 70px;
  }

  .about-paragraph {
    margin: 0 0 28px;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
  }

  .about-paragraph:last-child {
    margin-bottom: 0;
  }

  .blockquote {
    margin: 0;
  }

  .blockquote-paragraph {
    margin: 0 0 40px;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
  }

  .blockquote-paragraph:last-child {
    margin-bottom: 0;
  }

  .quote {
    display: inline-block;
    position: relative;
    padding: 6px 0 0 60px;
    text-transform: uppercase;
    font-size: 44px;
    font-weight: 400;
    line-height: 50px;
    
  }

  .quote:after {
    content: "";
    display: inline-block;
    padding-right: 10px;
    width: 38.98px;
    height: 34.41px;
    background-size: contain;
    transform: rotate(180deg);
    background-image: url("../icons/quotation_mark.svg");
    background-repeat: no-repeat;
  }

  .quote:before {
    content: "";
    display: inline-block;
    position: absolute;
    top: -2px;
    left: 0;
    width: 38.98px;
    height: 34.41px;
    background-size: contain;
    background-image: url("../icons/quotation_mark.svg");
    background-repeat: no-repeat;
  }

  .quote-end-line {
    display: inline-block;
  }

  .creator-container {
    text-align: right;
  }

  .creator {
    display: inline-block;
    max-width: 389px;
    position: relative;
    padding-left: 100px;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
  }

  .creator:before {
    content: "";
    position: absolute;
    left: 0;
    border-radius: 50%;
    margin-right: 0;
    background-position-y: -10px;
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
    width: 80px;
    height: 80px;
    background-image: url("../images/project-creator.png");
  }

  .creator-breakdown {
    display: inline-block;
  }
