  .about {
    margin: 0 0 100px;
  }

  .about-container {
    margin: 0 0 78px;
  }

  .about-paragraph {
    margin: 0 0 28px;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
  }

  .about-paragraph:last-child {
    margin-bottom: 0;
  }

  .blockquote {
    margin: 0;
  }

  .blockquote-paragraph {
    margin: 0 0 40px;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
  }

  .blockquote-paragraph:last-child {
    margin-bottom: 0;
  }

  .quote {
    display: inline-block;
    position: relative;
    padding: 8px 20px 0 26px;
    text-transform: uppercase;
    font-size: 44px;
    font-weight: 400;
    line-height: 50px;
    white-space: pre-line;
  }

  .quote:before {
    content: "“";
    position: absolute;
    color: #6C0287;
    top: 2px;
    left: 0;
  }

  .quote:after {
    content: "”";
    color: #6C0287;
    position: absolute;
    top: 50px;
    right: 2px;
  }

  .creator-container {
    text-align: right;
  }

  .creator {
    display: inline-block;
    max-width: 389px;
    white-space: pre-line;
    position: relative;
    padding-left: 100px;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
  }

  .creator:before {
    content: "";
    position: absolute;
    left: 0;
    border-radius: 50%;
    margin-right: 0;
    background-position-y: -10px;
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
    width: 80px;
    height: 80px;
    background-image: url("../images/project-creator.png");
  }

  .creator-breakdown {
    display: inline-block;
  }
