  .halls {
    padding: 0 0 100px;
  }

  .nav-halls {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .nav-halls__80-vibes {
    background-image: url("../images/80`-vibes.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
    padding: 275px 30px;
    margin-bottom: 60px;
  }

  .nav-halls__star-wars {
    background-image: url("../images/star-wars.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 70px;
    padding: 275px 30px;
    margin-bottom: 60px;
  }

  .nav-halls__wild-west {
    background-image: url("../images/wild-west.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 70px;
    padding: 275px 30px;
    margin-bottom: 60px;
  }

  .nav-halls__neon-style {
    background-image: url("../images/neon-style.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 70px;
    padding: 275px 30px;
  }

  .nav-halls__link {
    display: inline-block;
    max-width: 240px;
    padding: 0;
    color: aliceblue;
    text-decoration: none;
  }

  .nav-halls__link:hover {
    color: rgb(191, 255, 245);
  }